@model IEnumerable<EventHandlingApp.Models.Event>

@{
    ViewBag.Title = "مدیریت رویدادها";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("ایجاد رویداد جدید", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.receptionPackage)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.receptionPackage)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Participants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
            @Html.ActionLink("جزئیاتs", "Details", new { id = item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.Id })
        </td>
    </tr>
       }

</table>
<div class="container body-content">
   <hr />
    <footer>
        
        <p class="pull-left">
            @Html.ActionLink("بازگشت به صفحه مدیریت", "Index", "Home", new { Area = "Admin" }, null)
        </p>
    </footer>
</div>
