<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/fonts/vazir/vazir.css" rel="stylesheet" />


</head>
<body>
    <header class=" container">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-default">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(" سیستم مدیریت رویداد", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    
                    <ul class="nav navbar-nav">
                        <li>
                            <a href = @Url.Action("Index", "Home")>
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </div>
    </header>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-right">@DateTime.Now.Year -مدیریت رویداد آسان </p>
            <p class="pull-left">
                @Html.ActionLink("بازگشت به صفحه اصلی", "Index", "Home", new { Area = "" }, null)
            </p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap-rtl")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap-rtl.js"></script>
</body>
</html>
